<div class="sb-dialog">
  <form [formGroup]="formPost" (ngSubmit)="onSubmit()">
    <mat-form-field class="sb_input">
      <mat-label>Título</mat-label>
      <input
        matInput
        id="title"
        formControlName="title"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="sb_input">
      <mat-label>Blog</mat-label>
      <mat-select id="blogId" formControlName="blogId">
        <mat-option *ngFor="let blog of listaBlogs" [value]="blog.id">
          {{ blog.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="sb_input">
      <mat-label>Escreva seu post...</mat-label>
      <textarea
        matInput
        matTextareaAutosize="true"
        id="content"
        formControlName="content"
      ></textarea>
    </mat-form-field>
    <br />
    <button mat-button color="accent" type="submit">Salvar</button>
  </form>
</div>
