<div>
    <div class="sp-titulo">
      <span>Title</span>
    </div>
    <div class="sp-container">
      <ul class="sp-card-post">
        <li class="mat-elevation-z8 rounded">
          <div class="sp-card-header-post">
            <span>Title</span>
            <p>Blog</p>
          </div>
          <div class="sp-card-description-post">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates
              quasi, ipsa non fugit quos recusandae assumenda eos accusamus, rerum
              sit quod veniam. Asperiores dolorum fugiat eveniet modi! Fugiat,
              quas consequuntur.
            </p>
          </div>
          <div class="sp-card-buttons-post">
            <button mat-button color="accent">Editar</button>
            <button mat-button color="primary">Deletar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  