<div>
  <div class="sp-titulo">
    <span>{{ post.title }}</span>
  </div>
  <div class="sp-container">
    <ul class="sp-card-post">
      <li class="mat-elevation-z8 rounded">
        <div class="sp-card-header-post">
          <span>{{ post.title }}</span>
          <p>Blog: {{ post.blog.nome }}</p>
        </div>
        <div class="sp-card-description-post">
          <p>
            {{ post.content }}
          </p>
        </div>
        <div class="sp-card-buttons-post">
          <button mat-button color="accent" (click)="openDialog(post)">
            Editar
          </button>
          <button mat-button color="primary" (click)="deletar(post)">
            Deletar
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
