/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
html,
a {
  text-decoration: none;
  color: #f1f1f1;
}
body {
  height: 100%;
  background: #303030;
  color: #f1f1f1;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sp-toolbar {
  position: fixed;
  width: 1vw;
}

.sp-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 100px 15px 30px;
  box-sizing: border-box;
  background: #c2185b;
}

.sp-container {
  width: 80%;
  margin: 0 auto;
}

.sp-card {
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sp-card li {
  width: 40%;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
}

.sp-card-description {
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .sp-card li {
    width: 100%;
  }
}
