<div>
  <div class="sp-titulo">
    <span>Postagens</span>
    <button mat-button color="accent" (click)="openDialog()">Novo</button>
  </div>
  <div class="sp-container">
    <ul class="sp-card">
      <li class="mat-elevation-z8" *ngFor="let post of posts">
        <a [routerLink]="['Post', post.postId]">
          <div class="sp-card-header">
            <span>{{ post.title }}</span>
          </div>
          <div class="sp-card-description">
            <p>
              {{ post.content }}
            </p>
          </div>
        </a>
        <div class="sp-card-buttons">
          <button mat-button color="accent" (click)="openDialog(post)">Editar</button>
          <button mat-button color="primary">Deletar</button>
        </div>
      </li>
    </ul>
  </div>
</div>
